@* @using WebAppMVC.ModelView; *@
@model EmpProjectDetails;

<h1>@Model.empobj.EmpId</h1>
<h1>@Model.empobj.EmpName</h1>
<h1>@Model.empobj.ProjectId</h1>
<h1>@Model.proobj.ProjectName</h1>
<h1>@Model.proobj.ProjectDes</h1>


@* <h1>@Model.EmpId</h1>
<h1>@Model.EmpName</h1> *@

@* <h3>@ViewBag.emp.EmpId</h3>
<h3>@ViewBag.emp.EmpName</h3> *@